@font-face {
  font-family: "lexend";
  src: url("fonts/Lexend.ttf") format("truetype");
}
@font-face {
  font-family: "montserratlight";
  src: url(fonts/Montserrat-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "montserrat";
  src: url(fonts/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "montserratBold";
  src: url(fonts/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
  font-family: roboto;
  src: url(fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: roboto-black;
  src: url(fonts/Roboto-Black.ttf) format("truetype");
}
@font-face {
  font-family: roboto-medium;
  src: url(fonts/Roboto-Medium.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-section {
  background: #000000bf;
  max-width: 100%;
  height: 650px;
}
.logo {
  font-family: "lexend", sans-serif;
  height: 22px;
  width: 114px;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #fff;
  padding-top: 100px;
  padding-left: 52px;
}
.logo-link {
  text-decoration: none;
}
.navigation nav {
  margin-top: 5px;
  margin-right: -303px;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 610px;
}
.navigation ul {
  display: flex;
  list-style: none;
}
.navigation a {
  text-decoration: none;
  color: #fff;
  font-family: "montserratlight";
  font-size: 18px;
  font-weight: 290;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
}
.navigation li {
  padding-left: 52px;
}
.half-circle {
  margin-top: 270px;
}

.patterns {
  position: relative;
}
.patterns .circle {
  position: absolute;
  right: 0px;
  top: 135px;
}
.company {
  position: relative;
}
.company p {
  position: absolute;
  font-family: "montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #fff;
  top: -71px;
  left: 150px;
}
.company h1 {
  position: absolute;
  height: 72px;
  font-family: montserrat;
  font-size: 96px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -0.035em;
  color: #fff;
  top: -35px;
  left: 150px;
}
.company h1::after {
  content: "";
  display: inline-block;
  height: 72px;
  width: 4px;
  background-color: #979797;
  margin-left: 8px;
}
.search-container {
  position: relative;
  height: 104px;
  width: 857px;
  left: 135px;
  top: 74px;
  border-radius: 88.5px;
  padding: 12px 24px 12px 56px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
}
#search-input {
  height: 80px;
  width: 100%;
  border: none;
  border-radius: 88.5px;
  font-size: 36px;
  background-color: #f1f1f1;
  color: #333;
  margin-top: 20px;
}
#search-input::placeholder {
  font-family: "montserratlight", sans-serif;
  font-weight: 500px;
  font-size: 30px;
  line-height: 24px;
  color: #a6a6a6;
}
#search-button {
  position: absolute;
  right: 24px;
  height: 80px;
  width: 166px;
  top: 12px;
  border: none;
  border-radius: 50px;
  padding: 24px;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.01em;
  background-color: #b1b1b1;
  color: #fff;
  cursor: pointer;
  padding-left: 59px;
}
#search-button i {
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.01em;
  padding-left: 10px;
  font-family: "montserratlight";
}
#search-button img {
  position: absolute;
  top: 22px;
  left: 20px;
  height: 36px;
  width: 36px;
}
#search-button:disabled {
  cursor: default;
}
#search-button:not(:disabled) {
  cursor: pointer;
}
.registration-page {
  background: #4072ee;
}
.ilustration {
  margin-top: 240px;
  margin-left: 0px;
  width: 1190px;
}
.registration-box {
  position: absolute;
  top: -1100px;
  left: 901px;
  z-index: 1;
  height: 902px;
  width: 611px;
  border-radius: 5px;
  background-color: #fff;
}
.registration-bigbox {
  position: relative;
}
.registration-box p {
  font-family: roboto-medium;
  color: #31394d;
  font-weight: 400;
  font-size: 48px;
  height: 68px;
  width: 148px;
  margin-left: 80px;
  margin-top: 91px;
}
.warning-box {
  position: relative;
}
.warning {
  position: absolute;
  top: -948px;
  left: 981px;
  z-index: 2;
  font-family: roboto-medium;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: #748aa1;
}
.small-box {
  position: absolute;
  top: -865px;
  left: 987px;
  z-index: 3;
  background-color: #ffffff;
  width: 451px;
  height: 452px;
  border-radius: 5%;
  box-shadow: 0px 1px 4px 0px #e5e9f2;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 24px;
}
label {
  font-weight: bold;
  margin-bottom: 6px;
  color: #748aa1;
  font-size: 12px;
  line-height: 17px;
}
.contry-change {
  display: inline-block;
  position: relative;
}
.change-country {
  color: #748aa1;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  top: 158px;
  left: 355px;
}
input {
  padding: 10px;
  border: 1px solid #ebedf4;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  height: 51px;
}
.zipcode {
  width: 180px;
}
.city {
  width: 180px;
}
.city-container {
  margin-right: 20px;
}
.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-container {
  margin-top: 20px;
}
.signupbtn {
  background-color: #29cb97;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 391px;
  height: 51px;
}
.facebookbtn-container {
  position: relative;
}
.darkfb {
  position: absolute;
  top: -367px;
  left: 994px;
  z-index: 3;
  width: 204px;
  height: 60px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #255b9b;
  color: #fff;
}
.lightfb {
  position: absolute;
  top: -367px;
  left: 1218px;
  z-index: 3;
  width: 204px;
  height: 60px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #00adee;
  color: #fff;
}
#signup-btn:disabled {
  cursor: default;
}
.success-message {
  margin-top: 10px;
  color: green;
}
.icon-box {
  position: relative;
}
.icon-button {
  position: absolute;
  background-color: transparent;
  border: none;
  z-index: 8;
  left: 1466px;
  top: -1087px;
  cursor: pointer;
  font-size: 30px;
}
.span-container {
  display: flex;
  flex-direction: row;
  gap: 29px;
  margin-top: 110px;
  margin-left: 150px;
}
.span-container span {
  font-family: "montserratlight";
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -2%;
  color: #8b8b8b;
}
.roles-locations {
  margin-left: 150px;
  margin-top: 64px;
}
.roles-box {
  display: flex;
  gap: 7px;
  padding-bottom: 32px;
}
.numofroles {
  font-family: "montserrat";
  font-size: 80px;
  color: #191919;
  line-height: 80px;
}
.roles {
  font-family: "montserrat";
  font-size: 32px;
  color: #979797;
  margin-top: 40px;
}
.line {
  width: 272px;
  border: 1px solid #dddddd;
}
.locations-box {
  display: flex;
  gap: 7px;
  padding-top: 32px;
}
.numoflocations {
  font-family: "montserrat";
  font-size: 80px;
  color: #191919;
  line-height: 80px;
}
.locations {
  font-family: "montserrat";
  font-size: 32px;
  color: #979797;
  margin-top: 38px;
}
.work-box {
  margin-left: 650px;
  margin-top: -227px;
}
.work-we-do {
  width: 742px;
  font-family: "montserrat";
  font-size: 72px;
  line-height: 79.2px;
  color: #191919;
  font-weight: 500;
}
.explanation-of-work {
  width: 742px;
  height: 237px;
  height: 90px;
  font-family: "montserratlight";
  font-size: 20px;
  line-height: 30px;
  color: #6d6d6d;
}
.learn-box {
  margin-left: 150px;
  display: flex;
  gap: 12px;
}
.learn-box p {
  font-family: "montserrat";
  font-size: 20px;
  line-height: 30px;
  color: #545454;
  font-weight: 600;
}
.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border: solid 1px;
  border-color: #b6b6b6;
  border-radius: 50px;
}
.mission-box {
  position: relative;
}
.mission-smallbox {
  position: absolute;
  top: 602px;
  left: 150px;
  z-index: 1;
}
.champion-mission {
  width: 415px;
  height: 316px;
  font-family: "montserrat";
  font-size: 72px;
  font-weight: 500;
  line-height: 79.2px;
  color: #191919;
  margin-bottom: 20px;
}
.mission-explanation {
  position: absolute;
  width: 251px;
  height: 120px;
  z-index: 1;
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #6d6d6d;
}
.airbnb-careers {
  width: 533px;
  margin-top: 784px;
  margin-left: 334px;
}
.innovation-box {
  display: flex;
  gap: 18px;
  margin-left: 952px;
  margin-top: -361px;
}
.innovation-num {
  font-family: "montserrat";
  font-size: 32px;
  font-weight: 700;
  color: #b1b1b1;
}
.innovation {
  font-family: "montserrat";
  font-size: 32px;
  font-weight: 500;
  color: #b1b1b1;
}
.about-innovation {
  width: 367px;
  height: 210px;
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #575757;
  margin-left: -242px;
  margin-top: 58px;
}
.connectivity-num {
  font-family: "montserrat";
  font-size: 32px;
  font-weight: 500;
  color: #191919;
  margin-left: -388px;
  margin-top: 331px;
}
.connectivity {
  font-family: "montserrat";
  font-size: 32px;
  font-weight: 500;
  color: #191919;
  margin-top: 331px;
}
.reality-num {
  font-family: "montserrat";
  font-size: 32px;
  font-weight: 500;
  color: #191919;
  margin-left: -282px;
  margin-top: 381px;
}
.reality {
  font-family: "montserrat";
  font-size: 32px;
  font-weight: 500;
  color: #191919;
  margin-top: 381px;
}
.perks-benefits {
  width: 312px;
  font-family: "montserrat";
  font-size: 72px;
  font-weight: 500;
  line-height: 79.2px;
  color: #191919;
  margin-top: 130px;
  margin-left: 150px;
}
.perks-benefits-list {
  margin-left: 620px;
  margin-top: -215px;
}
.perks-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 70px);
  grid-gap: 100px;
}
.perks-item {
  position: relative;
}
.after-column:after {
  content: "";
  display: block;
  position: absolute;
  margin-top: -76px;
  right: -20px;
  height: 484px;
  border-left: 1px solid #dddddd;
}
.after-column2::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: -247px;
  right: 0px;
  height: 484px;
  border-left: 1px solid #dddddd;
}
.perks-item span {
  font-family: "montserrat";
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  color: #191919;
  padding-bottom: 10px;
}
.perks-item p {
  font-family: "montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color: #191919;
}
.tour-box {
  position: relative;
  width: 245px;
  height: 237px;
}
.tour {
  position: absolute;
  top: 133px;
  left: 150px;
  z-index: 1;
  font-family: "montserrat";
  font-size: 72px;
  line-height: 79.2px;
  font-weight: 500;
  color: #191919;
}
.tour-box img {
  position: absolute;
  z-index: 1;
  margin-left: 399px;
  margin-top: 321px;
}
.office-images {
  position: relative;
}
.san-francisco {
  position: absolute;
  top: -62px;
  left: 150px;
  width: 519px;
  height: 761px;
}
.new-york {
  position: absolute;
  z-index: 1;
  left: 699px;
  width: 504px;
  height: 336px;
}
.functionality {
  position: absolute;
  top: 227px;
  left: 1020px;
  width: 305px;
  height: 458px;
  object-fit: cover;
}
.location {
  position: absolute;
  left: 693px;
  top: 562px;
  width: 304px;
}
.location p {
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 600;
  color: #6d6d6d;
}
.location span {
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #6d6d6d;
}
.questions-section {
  background-color: #f7f7f7;
  margin-top: 700px;
  height: 300px;
}
.questions-section img {
  margin-top: 52px;
  margin-left: 808px;
}
.questions-section h6 {
  font-family: "montserrat";
  font-size: 24px;
  font-weight: 500;
  color: #191919;
  margin-left: 629px;
  margin-top: 16px;
}
.questions-section p {
  font-family: "montserrat";
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #6d6d6d;
  width: 588px;
  height: 60px;
  margin-left: 529px;
  margin-top: 13px;
  text-align: center;
}
footer {
  background-color: #000000;
}
.return-to-top {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.return-to-top p {
  font-family: "montserrat-light";
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 64px;
  margin-left: 77px;
}
.return-to-top button {
  background-color: #000000;
  border: none;
  margin-top: 64px;
  cursor: pointer;
}
.icon-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 32px;
  margin-left: 72px;
}
.icon-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #393939;
  border: none;
  cursor: pointer;
}
.language-selector {
  position: relative;
}
.input-container {
  position: relative;
  width: 302px;
  height: 56px;
  border-radius: 50px;
  background-color: #343434;
  padding: 0 20px;
  margin-left: 677px;
  margin-top: 36px;
}
.language-input {
  width: 100%;
  height: 56px;
  border: none;
  background-color: #343434;
  padding-right: 56px;
  color: #fff;
}
.language-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  background-color: #343434;
  cursor: pointer;
}
.language-menu {
  position: absolute;
  left: 995px;
  top: -34px;
  width: 302px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #343434;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: none;
}
.language-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.language-menu li {
  padding: 12px 20px;
  cursor: pointer;
  color: #fff;
}
.li-container {
  margin-top: 40px;
  margin-left: 570px;
}
.li-container ul {
  display: flex;
  gap: 52px;
  list-style: none;
}
.li-container li {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}
.underline {
  width: 900px;
  height: 1px;
  background-color: #848484;
  margin-left: 347px;
  margin-top: 32px;
}
.name-date {
  font-family: "lexend", sans-serif;
  font-size: 22px;
  color: #ffffff;
  margin-top: 32px;
  margin-left: 720px;
}
